<% include _header.ejs %>

<div class="container mainContainer">
  <div class="row">
    <a href="/authors">
    <div class="col-md-5 mainBox">
      <div class="row">
        <div class="col-md-12">
          <img class="mainImage" src="http://www.uglydogbooks.com/wp-content/uploads/2014/02/author_book.jpg" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mainTitle">
          <h2>Authors</h2>
        </div>
      </div>
    </div>
    </a>
    <a href="/books">
    <div class="col-md-5 mainBox">
      <div class="row">
        <div class="col-md-12">
          <img class="mainImage" src="http://cdn-media-1.lifehack.org/wp-content/files/2015/05/books-1.jpg" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mainTitle">
          <h2>Books</h2>
        </div>
      </div>
    </div>
    </a>
  </div>
</div>

<% include _footer.ejs %>
